.id-cate-container {
    display: flex;
    justify-content: space-between;
}
.cate {
    width: 206.8px;

}
.route-time-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.route-container{
    /* flex:1; */
}
.time-container{
    width: 206.8px;
}